:root {
    /* Colors */
    --grey_background: #99a3a4;
    --button_background: #34495e;
    --button_txt_color: #1ec6be;
    --guides_box_background: #349;
  }
  
  body {
    background-image: url(../images/blue_background.png);
  }
  
  a {
    cursor: pointer;
  }
  
  .header-main {
    min-height: 65px;
    max-width: 100%;
    background-color: var(--grey_background);
    border: 2px solid #17202a;
    border-radius: 15px;
    font-size: 280%;
    font-family: New Amsterdam, cursive;
    padding-top: 5px;
    display: flex;
    justify-content: center;
  }
  
  .navbar {
    max-width: 25%;
    min-height: 590px;
    margin-top: 7px;
    border-radius: 15px;
    border: 2px solid #17202a;
    background-color: var(--grey_background);
    display: grid;
    grid-template-rows: repeat(5, 0.17fr);
    grid-auto-columns: 90%;
    justify-content: center;
    gap: 0.2rem;
  }
  
  .home-button {
    min-width: 90%;
    max-height: 2rem;
    color: var(--button_txt_color);
    background-color: var(--button_background);
    margin-top: 0.6rem;
    border: 2px solid #17202a;
    border-radius: 15px;
    text-align: center;
    font-size: 1.2rem;
    font-family: cursive;
  }
  
  .guides-button {
    min-width: 90%;
    max-height: 2rem;
    color: var(--button_txt_color);
    background-color: var(--button_background);
    margin-top: 0.6rem;
    border: 2px solid #17202a;
    border-radius: 15px;
    text-align: center;
    font-size: 1.2rem;
    font-family: cursive;
  }
  
  .projects-button {
    min-width: 90%;
    max-height: 2rem;
    color: var(--button_txt_color);
    background-color: var(--button_background);
    margin-top: 0.6rem;
    border: 2px solid #17202a;
    border-radius: 15px;
    text-align: center;
    font-size: 1.2rem;
    font-family: cursive;
  }
  
  .about-me-button {
    min-width: 90%;
    max-height: 2rem;
    color: var(--button_txt_color);
    background-color: var(--button_background);
    margin-top: 0.6rem;
    border: 2px solid #17202a;
    border-radius: 15px;
    text-align: center;
    font-size: 1.2rem;
    font-family: cursive;
  }
  
  .sm-button {
    min-width: 90%;
    max-height: 2rem;
    color: var(--button_txt_color);
    background-color: var(--button_background);
    margin-top: 0.6rem;
    border: 2px solid #17202a;
    border-radius: 15px;
    text-align: center;
    font-size: 1.2rem;
    font-family: cursive;
  }